<div class='col-md-4'>
  {{em-input label="Username" property="username"}}
  {{em-input label="Password" property="password"}}
  {{em-input label="Password(again)" property="password2"}}
  {{em-input label="First Name" property="firstName"}}
  {{em-input label="Last Name" property="lastname"}}
</div>
